# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
build/

# Misc
.DS_Store
*.log
npm-debug.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
.env.production

# Testing
coverage/